{% extends "station/base_station.html" %}

{% block content %}

<div class="station-list">

    {% if tasks|length == 0 %}
        <div class="alert alert-secondary fs-5">
            Нет заданий
        </div>
    {% endif %}

    {% for task in tasks %}

    {# расчет коробов #}
    {% set boxes = task.planned_quantity // task.quantity_in_box %}

    <div class="station-card-row">

        <!-- ЛЕВАЯ ЧАСТЬ -->
      <div class="station-card-info">

    <div class="station-product-name">
        {{ task.product_name }}
    </div>

    <div class="station-product-gtin">
        GTIN {{ task.gtin }}
    </div>

    {% if task.production_date_str and task.expiry_date_str %}
    <div class="station-date-badge">
        <span class="date-prod">
            {{ task.production_date_str }}
        </span>

        <span class="date-arrow">→</span>

        <span class="date-exp">
            {{ task.expiry_date_str }}
        </span>
    </div>
    {% endif %}

</div>

        <!-- ЦЕНТР -->
        <div class="station-card-volume">
            <div class="station-volume-boxes">
                {{ boxes }}
            </div>
            <div class="station-volume-label">
                коробов
            </div>

            <div class="station-volume-secondary">
                {{ task.planned_quantity }} шт
                {% if task.quantity_in_pallet %}
                    • {{ task.quantity_in_pallet }} паллета
                {% endif %}
            </div>
        </div>

        <!-- ПРАВАЯ ЧАСТЬ -->
        <div class="station-card-action">
            <button class="station-main-btn">
                НАЧАТЬ
            </button>
        </div>

    </div>

    {% endfor %}

</div>

{% endblock %}